<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="conf.mybatis.AdvertiserMapper" >
<resultMap id="BaseResultMap" type="com.im.success.advertiser.model.AdvertiserVO" >

    <id column="Adr_ID" property="adr_ID" jdbcType="VARCHAR" />
    <result column="Adr_Name" property="adr_Name" jdbcType="VARCHAR" />
    <result column="Adr_Type" property="adr_Type" jdbcType="TINYINT" />
    <result column="Adr_LoginAccountID" property="adr_LoginAccountID" jdbcType="VARCHAR" />
    <result column="Adr_CompanyName" property="adr_CompanyName" jdbcType="VARCHAR" />
    <result column="Adr_CompanyUrl" property="adr_CompanyUrl" jdbcType="VARCHAR" />
    <result column="Adr_Email" property="adr_Email" jdbcType="VARCHAR" />
    <result column="Adr_Mobile" property="adr_Mobile" jdbcType="VARCHAR" />
    <result column="Adr_Telephone" property="adr_Telephone" jdbcType="VARCHAR" />
    <result column="Adr_AuditStatus" property="adr_AuditStatus" jdbcType="TINYINT" />
    <result column="Adr_AuditResult" property="adr_AuditResult" jdbcType="VARCHAR" />
    <result column="Adr_AuditDate" property="adr_AuditDate" jdbcType="TIMESTAMP" />
    <result column="Adr_AgentID" property="adr_AgentID" jdbcType="VARCHAR" />
    <result column="Adr_AgentServiceRates" property="adr_AgentServiceRates" jdbcType="NUMERIC" />
    <result column="Adr_StepRateID" property="adr_StepRateID" jdbcType="VARCHAR" />
    <result column="Adr_RegisterDate" property="adr_RegisterDate" jdbcType="TIMESTAMP" />
    <result column="Adr_UpdateDate" property="adr_UpdateDate" jdbcType="TIMESTAMP" />
    <result column="Adr_LastLoginDate" property="adr_LastLoginDate" jdbcType="TIMESTAMP" />

  </resultMap>
  
    
   <resultMap id="QueryResultMap" type="com.im.success.advertiser.model.AdvertiserSearchVO" extends="BaseResultMap" >

    <result column="Adr_ID" property="adr_ID" jdbcType="VARCHAR" />
    <result column="Adr_Name" property="adr_Name" jdbcType="VARCHAR" />
    <result column="Adr_Type" property="adr_Type" jdbcType="TINYINT" />
    <result column="Adr_LoginAccountID" property="adr_LoginAccountID" jdbcType="VARCHAR" />
    <result column="Adr_CompanyName" property="adr_CompanyName" jdbcType="VARCHAR" />
    <result column="Adr_CompanyUrl" property="adr_CompanyUrl" jdbcType="VARCHAR" />
    <result column="Adr_Email" property="adr_Email" jdbcType="VARCHAR" />
    <result column="Adr_Mobile" property="adr_Mobile" jdbcType="VARCHAR" />
    <result column="Adr_Telephone" property="adr_Telephone" jdbcType="VARCHAR" />
    <result column="Adr_AuditStatus" property="adr_AuditStatus" jdbcType="TINYINT" />
    <result column="Adr_AuditResult" property="adr_AuditResult" jdbcType="VARCHAR" />
    <result column="Adr_AuditDate" property="adr_AuditDate" jdbcType="TIMESTAMP" />
    <result column="Adr_AgentID" property="adr_AgentID" jdbcType="VARCHAR" />
    <result column="Adr_AgentServiceRates" property="adr_AgentServiceRates" jdbcType="NUMERIC" />
    <result column="Adr_StepRateID" property="adr_StepRateID" jdbcType="VARCHAR" />
    <result column="Adr_RegisterDate" property="adr_RegisterDate" jdbcType="TIMESTAMP" />
    <result column="Adr_UpdateDate" property="adr_UpdateDate" jdbcType="TIMESTAMP" />
    <result column="Adr_LastLoginDate" property="adr_LastLoginDate" jdbcType="TIMESTAMP" />
    <result column="Adr_AgentName" property="adr_AgentName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="DropListMap" type="com.im.success.advertiser.model.AdvertiserSearchVO" extends="BaseResultMap" >
    <result column="Adr_AgentName" property="adr_AgentName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jan 07 15:56:04 CST 2016.
    -->
  Adr_ID,Adr_Name,Adr_Type,Adr_LoginAccountID,Adr_CompanyName,Adr_CompanyUrl,Adr_Email,Adr_Mobile,Adr_Telephone,
  Adr_AgentID,Adr_AgentServiceRates,Adr_StepRateID
</sql>
  
  <select id="queryAll" resultMap="QueryResultMap" parameterType="com.im.success.advertiser.model.AdvertiserVO" >
  SELECT main.*,agent.Adr_Name Adr_AgentName FROM im_ad_advertiser main 
  left join im_ad_advertiser agent on main.Adr_agentID = agent.Adr_ID 
  order by main.Adr_RegisterDate   
  </select>

  
  <select id="getAgentOrAdr" resultMap="DropListMap" parameterType="com.im.success.advertiser.model.AdvertiserVO" >
  	SELECT main.*,agent.Adr_Name Adr_AgentName FROM im_ad_advertiser main 
  	left join im_ad_advertiser agent on main.Adr_agentID = agent.Adr_ID 
  	<if test="adr_Type != null">
		where main.Adr_Type=#{adr_Type,jdbcType=TINYINT} 
	</if>
  	
  	order by main.Adr_RegisterDate 
  	</select>
  
  <insert id="insert" parameterType="com.im.success.advertiser.model.AdvertiserVO" >

    insert into im_ad_advertiser (<include refid="Base_Column_List" />)

    values (#{adr_ID,jdbcType=VARCHAR},
			#{adr_Name,jdbcType=VARCHAR}, 
       		#{adr_Type,jdbcType=TINYINT},
			#{adr_LoginAccountID,jdbcType=VARCHAR},
      		#{adr_CompanyName,jdbcType=VARCHAR},
      		#{adr_CompanyUrl,jdbcType=VARCHAR}, 
       		#{adr_Email,jdbcType=VARCHAR},
			#{adr_Mobile,jdbcType=VARCHAR},
			#{adr_Telephone,jdbcType=VARCHAR}, 
       		#{adr_AgentID,jdbcType=VARCHAR},
			#{adr_AgentServiceRates,jdbcType=NUMERIC},
			#{adr_StepRateID,jdbcType=VARCHAR}
      		)
  </insert>
  
  
   <update id="update" parameterType="com.im.success.advertiser.model.AdvertiserVO" >

	update im_ad_advertiser
	<set>
	<if test="adr_Name != null">
		Adr_Name=#{adr_Name,jdbcType=VARCHAR},
	</if>
	<if test="adr_Type != null">
		Adr_Type=#{adr_Type,jdbcType=TINYINT},,
	</if>
	<if test="adr_LoginAccountID != null">
		Adr_LoginAccountID=#{adr_LoginAccountID,jdbcType=VARCHAR},
	</if>
	<if test="adr_CompanyName != null">
		Adr_CompanyName=#{Adr_Adt_IDs,adr_CompanyName=VARCHAR},
	</if>
	<if test="adr_CompanyUrl != null">
		Adr_CompanyUrl=#{adr_CompanyUrl,jdbcType=VARCHAR},
	</if>
	<if test="adr_Email != null">
		Adr_Email=#{adr_Email,jdbcType=VARCHAR},
	</if>
	<if test="adr_Mobile != null">
		Adr_Mobile=#{adr_Mobile,jdbcType=VARCHAR}
	</if>
	<if test="adr_Telephone != null">
		Adr_Telephone=#{adr_Telephone,jdbcType=VARCHAR},
	</if>
	<if test="adr_AgentID != null">
		Adr_AgentID=#{adr_AgentID,jdbcType=VARCHAR},
	</if>
	<if test="adr_AgentServiceRates != null">
		Adr_AgentServiceRates=#{adr_AgentServiceRates,jdbcType=NUMERIC},
	</if>
	<if test="adr_StepRateID != null">
		Adr_StepRateID=#{adr_StepRateID,jdbcType=VARCHAR}
	</if>
	</set>

	where Adr_ID = #{adr_ID,jdbcType=VARCHAR}

  </update>
</mapper>
