<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="conf.mybatis.AdvertOrderMapper" >
<resultMap id="BaseResultMap" type="com.im.success.advertorder.model.AdvertOrderVO" >

    <id column="Ado_ID" property="ado_ID" jdbcType="VARCHAR" />
    <result column="Ado_Name" property="ado_Name" jdbcType="VARCHAR" />
    <result column="Ado_Ad_ID" property="ado_Ad_ID" jdbcType="VARCHAR" />
    <result column="Ado_PlatType" property="ado_PlatType" jdbcType="TINYINT" />
    <result column="Ado_Adt_IDs" property="ado_Adt_IDs" jdbcType="VARCHAR" />
    <result column="Ado_BeginDate" property="ado_BeginDate" jdbcType="TIMESTAMP" />
    <result column="Ado_EndDate" property="ado_EndDate" jdbcType="TIMESTAMP" />
    <result column="Ado_Adg_ID" property="ado_Adg_ID" jdbcType="VARCHAR" />
    <result column="Ado_FreqTarget" property="ado_FreqTarget" jdbcType="VARCHAR" />
    <result column="Ado_FreqCyc" property="ado_FreqCyc" jdbcType="VARCHAR" />
    <result column="Ado_Frequency" property="ado_Frequency" jdbcType="TINYINT" />
    <result column="Ado_IsAdd" property="ado_IsAdd" jdbcType="TINYINT" />
    <result column="Ado_AddAdo_ID" property="ado_AddAdo_ID" jdbcType="VARCHAR" />
    <result column="Ado_AddDate" property="ado_AddDate" jdbcType="TIMESTAMP" />
    <result column="Ado_Priority" property="ado_Priority" jdbcType="TINYINT" />
    <result column="Ado_Status_Desc" property="ado_Status_Desc" jdbcType="VARCHAR" />
    <result column="Ado_Switch" property="ado_Switch" jdbcType="TINYINT" />
    <result column="Ado_Status" property="ado_Status" jdbcType="TINYINT" />
    <result column="Ado_CreateTime" property="ado_CreateTime" jdbcType="TIMESTAMP" />
    <result column="Ado_UpdateTime" property="ado_UpdateTime" jdbcType="TIMESTAMP" />
    <result column="Ado_AuditTime" property="ado_AuditTime" jdbcType="TIMESTAMP" />
    <result column="Ado_IsDele" property="ado_IsDele" jdbcType="TINYINT" />

  </resultMap>
  
  <resultMap id="PCBaseResultMap" type="com.im.success.advertorder.model.AdvertOrderPCExtendVO" extends="BaseResultMap" >

  </resultMap>
  
  <resultMap id="MPBaseResultMap" type="com.im.success.advertorder.model.AdvertOrderMPExtendVO" extends="BaseResultMap" >
    <result column="Ado_OsType" property="ado_OsType" jdbcType="VARCHAR" />
    <result column="Ado_NetType" property="ado_NetType" jdbcType="VARCHAR" />
    <result column="Ado_DmpOrderId" property="ado_DmpOrderId" jdbcType="VARCHAR" />
    <result column="Ado_DmpOrderName" property="ado_DmpOrderName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="OTTBaseResultMap" type="com.im.success.advertorder.model.AdvertOrderOTTExtendVO" extends="BaseResultMap" >

  </resultMap>
  
   <resultMap id="QueryResultMap" type="com.im.success.advertorder.model.AdvertOrderSearchVO" extends="BaseResultMap" >

    <result column="Ado_AdvertName" property="ado_AdvertName" jdbcType="VARCHAR" />
    <result column="Ado_AgentName" property="ado_AgentName" jdbcType="VARCHAR" />
    <result column="Ado_LabelName" property="ado_LabelName" jdbcType="VARCHAR" />
    <result column="Ado_MobilePhone" property="ado_MobilePhone" jdbcType="VARCHAR" />
    
  </resultMap>
  
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jan 07 15:56:04 CST 2016.
    -->
    Ado_ID,Ado_Name,Ado_Ad_ID,Ado_PlatType,Ado_Adt_IDs,Ado_BeginDate,Ado_EndDate
    ,Ado_Adg_ID,Ado_FreqTarget,Ado_FreqCyc,Ado_Frequency,Ado_IsAdd,Ado_AddAdo_ID
    ,Ado_AddDate,Ado_Priority,Ado_Status_Desc,Ado_Switch,Ado_Status,Ado_CreateTime
    ,Ado_UpdateTime,Ado_AuditTime,Ado_IsDele
</sql>
  
  <select id="getAllbyCond" resultMap="QueryResultMap" parameterType="com.im.success.advertorder.model.AdvertOrderSearchVO" >
  SELECT adt_id,Adt_CatalogLevel,Adt_Parent_ID,Adt_Name,Adt_IsMatch FROM im_ad_target order by adt_id
  </select>
  
  <insert id="insertOrder" parameterType="com.im.success.advertorder.model.AdvertOrderVO" >

    insert into im_ad_order (<include refid="Base_Column_List" />)
     
    values (#{ado_ID,jdbcType=VARCHAR},
			#{ado_Name,jdbcType=VARCHAR}, 
       		#{ado_Ad_ID,jdbcType=VARCHAR},
			#{ado_PlatType,jdbcType=TINYINT},
      		#{ado_Adt_IDs,jdbcType=VARCHAR},
      		#{ado_BeginDate,jdbcType=TIMESTAMP}, 
       		#{ado_EndDate,jdbcType=TIMESTAMP},
			#{ado_Adg_ID,jdbcType=VARCHAR},
			#{ado_FreqTarget,jdbcType=VARCHAR}, 
       		#{ado_FreqCyc,jdbcType=VARCHAR},
			#{ado_Frequency,jdbcType=TINYINT},
			#{ado_IsAdd,jdbcType=TINYINT}, 
       		#{ado_AddAdo_ID,jdbcType=VARCHAR},
			#{ado_AddDate,jdbcType=TIMESTAMP},
			#{ado_Priority,jdbcType=TINYINT}, 
       		#{ado_Status_Desc,jdbcType=VARCHAR},
			#{ado_Switch,jdbcType=TINYINT},
			#{ado_Status,jdbcType=TINYINT}, 
       		#{ado_CreateTime,jdbcType=TIMESTAMP},
			#{ado_UpdateTime,jdbcType=TIMESTAMP},
			#{ado_AuditTime,jdbcType=TIMESTAMP}, 
       		#{ado_IsDele,jdbcType=TINYINT}
      		)
  </insert>
  
  <insert id="insertPCOrder" parameterType="com.im.success.advertorder.model.AdvertOrderPCExtendVO" >

    insert into im_ad_order_pc (Ado_ID,Ado_pc)
     
    values (#{ado_ID,jdbcType=VARCHAR},
			#{ado_PC,jdbcType=VARCHAR}
      		)
  </insert>
  
    <insert id="insertMPOrder" parameterType="com.im.success.advertorder.model.AdvertOrderMPExtendVO" >

    insert into im_ad_order_mp (ado_id,ado_OsType,ado_NetType,ado_DmpOrderId,ado_DmpOrderName)
     
    values (#{ado_ID,jdbcType=VARCHAR},
			#{ado_OsType,jdbcType=VARCHAR}, 
       		#{ado_NetType,jdbcType=VARCHAR},
			#{ado_DmpOrderId,jdbcType=VARCHAR},
      		#{ado_DmpOrderName,jdbcType=VARCHAR}
      		)
  </insert>
  
    <insert id="insertOTTOrder" parameterType="com.im.success.advertorder.model.AdvertOrderOTTExtendVO" >

    insert into im_ad_order_ott (Ado_id,Ado_ott)
     
    values (#{ado_ID,jdbcType=VARCHAR},
			#{ado_OTT,jdbcType=VARCHAR} 

      		)
  </insert>
  
   <update id="updateOrder" parameterType="com.im.success.advertorder.model.AdvertOrderVO" >

	update im_ad_order
	<set>
	<if test="ado_Name != null">
		Ado_Name=#{ado_Name,jdbcType=VARCHAR},
	</if>
	<if test="ado_Ad_ID != null">
		ado_Ad_ID=#{ado_Ad_ID,jdbcType=VARCHAR},
	</if>
	<if test="ado_PlatType != null">
		Ado_PlatType=#{ado_PlatType,jdbcType=VARCHAR},
	</if>
	<if test="ado_Adt_IDs != null">
		Ado_Adt_IDs=#{Ado_Adt_IDs,jdbcType=VARCHAR},
	</if>
	<if test="ado_BeginDate != null">
		Ado_BeginDate=#{ado_BeginDate,jdbcType=TIMESTAMP},
	</if>
	<if test="ado_EndDate != null">
		Ado_EndDate=#{ado_EndDate,jdbcType=TIMESTAMP},
	</if>
	<if test="ado_Adg_ID != null">
		Ado_Adg_ID=#{ado_Adg_ID,jdbcType=VARCHAR}
	</if>
	<if test="ado_FreqTarget != null">
		Ado_FreqTarget=#{ado_FreqTarget,jdbcType=VARCHAR},
	</if>
	<if test="ado_FreqCyc != null">
		Ado_FreqCyc=#{ado_FreqCyc,jdbcType=TIMESTAMP},
	</if>
	<if test="ado_Frequency != null">
		Ado_Frequency=#{ado_Frequency,jdbcType=TINYINT},
	</if>
	<if test="ado_IsAdd != null">
		Ado_IsAdd=#{ado_IsAdd,jdbcType=TINYINT}
	</if>
	<if test="ado_AddAdo_ID != null">
		Ado_AddAdo_ID=#{ado_AddAdo_ID,jdbcType=VARCHAR},
	</if>
	<if test="ado_AddDate != null">
		Ado_AddDate=#{ado_AddDate,jdbcType=TIMESTAMP},
	</if>
	<if test="ado_Priority != null">
		Ado_Priority=#{ado_Priority,jdbcType=TINYINT},
	</if>
	<if test="ado_Status_Desc != null">
		Ado_Status_Desc=#{ado_Status_Desc,jdbcType=VARCHAR}
	</if>
	<if test="ado_Switch != null">
		Ado_Switch=#{ado_Switch,jdbcType=TINYINT},
	</if>
	<if test="ado_Status != null">
		Ado_Status=#{ado_Status,jdbcType=TINYINT},
	</if>
	<if test="ado_CreateTime != null">
		Ado_CreateTime=#{ado_CreateTime,jdbcType=TIMESTAMP},
	</if>
	<if test="ado_UpdateTime != null">
		Ado_UpdateTime=#{ado_UpdateTime,jdbcType=TIMESTAMP}
	</if>
	<if test="ado_AuditTime != null">
		Ado_AuditTime=#{ado_AuditTime,jdbcType=TIMESTAMP},
	</if>
	<if test="ado_IsDele != null">
		Ado_IsDele=#{ado_IsDele,jdbcType=TINYINT}
	</if>
	</set>

	where Ado_ID = #{ado_ID,jdbcType=VARCHAR}

  </update>
</mapper>
